<div class="contents">
    <h1>Users</h1>

    <div class="container">
        <div class="users-label">
            <div class="id"><h2>ID:</h2> </div>
            <div class="firstname"><h2>First Name:</h2> </div>
            <div class="lastname"><h2>Last Name:</h2> </div>
            <div class="email"><h2>Email:</h2> </div>         
        </div>
        <div></div>
        <div *ngFor="let user of users" class="users-field">
            <div class="output">{{user.id}}</div>
            <div class="output">{{user.firstname}}</div>
            <div class="output">{{user.lastname}}</div>
            <div class="output">{{user.email}}</div>           
        </div>
    </div>

</div>
