<div class="contents">
    <h1>Cars</h1>

    <div class="filter-container">
        <label for="make">Make:</label>
        <input type="text" id="make" [(ngModel)]="filter.make" (input)="filterCars()" placeholder="Filter by Make">
    
        <label for="model">Model:</label>
        <input type="text" id="model" [(ngModel)]="filter.model" (input)="filterCars()" placeholder="Filter by Model">
    
        <label for="year">Year:</label>
        <input type="number" id="year" [(ngModel)]="filter.year" (input)="filterCars()" placeholder="Filter by Year">
    
        <label for="minPrice">Min Price:</label>
        <input type="number" id="minPrice" [(ngModel)]="filter.minPrice" (input)="filterCars()" placeholder="Min Price">
    
        <label for="maxPrice">Max Price:</label>
        <input type="number" id="maxPrice" [(ngModel)]="filter.maxPrice" (input)="filterCars()" placeholder="Max Price">
    </div>

    <div class="container">
        <div class="cars-label">
            <div class="id"><h2>ID:</h2></div>
            <div class="make"><h2>Make:</h2></div>
            <div class="description"><h2>Description:</h2></div>
            <div class="model"><h2>Model:</h2></div>
            <div class="year"><h2>Year:</h2></div>
            <div class="price"><h2>Price:</h2></div>             
        </div>
        <div *ngFor="let car of paginatedCars" class="cars-field">
            <div class="output">{{car.id}}</div>
            <div class="output">{{car.make}}</div>
            <div class="output">{{car.description}}</div>
            <div class="output">{{car.model}}</div>
            <div class="output">{{car.year}}</div> 
            <div class="output">{{ car.price | number: '1.0-0' }}</div>   
            <div class="delete" (click)="deleteCar(car.id)"><span>Delete</span></div>
            <div class="update" (click)="toggleUpdateCar(car)">Edit</div>             
        </div>
    </div>

    <div *ngIf="showUpdateForm" class="update-form">
        <div class="main">  	
            <div class="edit-car-container">
                <form [formGroup]="form" class="form">
                    <label>Update Car</label>
                    <div class="input-fields">
                        <input formControlName="make" class="input" placeholder="Enter Make" required>
                        <input formControlName="description" class="input" placeholder="Enter Description" required>
                        <input formControlName="model" class="input" placeholder="Enter Model" required>
                        <input formControlName="year" class="input" placeholder="Enter Year" required>
                        <input formControlName="price" class="input" placeholder="Enter Price" required>
                    </div>
                    <button (click)="saveUpdateCar()" id="add-car-button" class="add-car-button">Update Car</button>
                    <button (click)="cancelUpdateCar()" type="button" class="cancel-car-button">Cancel</button>
                </form>
            </div>
        </div>
    </div>

    <div class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
        <span>Page {{currentPage}} of {{totalPages()}}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages()">Next</button>
    </div>
</div>
